  #page-home {
    height: 100vh;
    background: url('../assetsPoke/img/pikachu.png') no-repeat; 
    background-position: 35vw bottom;
  }
  
  #page-home .content {
    width: 90%;
    max-width: 1100px;
    height: 100%;  
    margin: 0 auto;  
    display: flex;
    flex-direction: column;
  }
  
  #page-home header {  
    margin-top: 48px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #page-home header a {
    display: flex;   
    color: rgb(16, 17, 16);
    font-weight: 900;
  
  } 

  .container {
    margin-top: 80px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	text-align: center;
	border-radius: 20px;
  position: relative;
  
}

.card::after {
  content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
  height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
    transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
    }
	100% {
			transform: translateY(0);
	}
}

.fixed-bottom{

text-align: center;
display: block;  
background-color: rgba(108, 117, 125, 0.28);
}